/*----------  Navbar  ----------*/
.navbar {
    background-color: transparent;
    padding: 23px 50px;
  }
  
  .navbar .navbar-brand span {
    color: #f3f3f3;
    text-transform: uppercase;
  }
  
  .navbar .navbar-brand img {
    width: 110px;
  }
  
  .navbar .navbar-brand svg {
    width: 110px;
  }
  
  .navbar .navbar-brand svg #logo-text {
    fill: #e6e6e6;
  }
  
  .navbar .navbar-menu {
    display: none;
  }
  
  .navbar .navbar-nav .nav-link {
    color: #e6e6e6;
    font-size: 15px;
    padding: 0;
  }
  
  .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 32px;
  }
  
  @media (max-width: 767.98px) {
    .navbar .navbar-brand img {
      width: 90px;
    }
  
    .navbar .navbar-menu {
      -ms-flex-direction: column;
      -ms-flex-pack: justify;
      cursor: pointer;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      height: 19px;
      justify-content: space-between;
      position: relative;
      width: 30px;
    }
  
    .navbar .navbar-menu .btn-line,
    .navbar .navbar-menu:before,
    .navbar .navbar-menu:after {
      -ms-flex-item-align: end;
      align-self: flex-end;
      background-color: gray;
      height: 3px;
      width: 100%;
    }
  
    .navbar .navbar-menu:before {
      content: '';
      width: 85%;
    }
  
    .navbar .navbar-menu:after {
      content: '';
    }
  
    .navbar .navbar-menu .btn-line {
      width: 55%;
    }
  
    .navbar .navbar-menu .btn-line,
    .navbar .navbar-menu:before,
    .navbar .navbar-menu:after {
      background-color: #f3f3f3;
    }
  
    .navbar .navbar-collapse .navbar-nav {
      background-color: #191919;
      padding: 8px 20px;
      position: relative;
      top: 8px;
      width: 200px;
      z-index: 2;
    }
  
    .navbar .navbar-collapse .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;
      letter-spacing: 0.35px;
      padding: 7px 0;
    }
  
    .navbar .navbar-collapse .navbar-nav .nav-link:hover,
    .navbar .navbar-collapse .navbar-nav .nav-link:focus {
      color: #fff;
    }
  }
  
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    .navbar .navbar-brand svg {
      height: 30px;
    }
  }