/*----------- Contact lightbox -----------*/
/* Contact: Contact */
.contact-section address,
.contact-section ul {
  margin: 0;
}

.contact-section .contact-form .content-title {
  margin-bottom: 22px;
}

.contact-section .contact-form .form-group {
  margin-bottom: 25px;
}

.contact-section .contact-form .form-group .form-control {
  background-color: #161616;
  border: none;
  border-bottom: 1px solid #1d1d1d;
  border-radius: 0;
  font-size: 15px;
  height: 44px;
  padding: 9px 14px;
}

.contact-section .contact-form .form-group .form-control:-webkit-autofill,
.contact-section .contact-form .form-group .form-control:-webkit-autofill:hover,
.contact-section .contact-form .form-group .form-control:-webkit-autofill:focus,
.contact-section .contact-form .form-group .form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #0b0b0b inset;
  -webkit-text-fill-color: #777 !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.contact-section .contact-form .form-group .form-control::-webkit-input-placeholder {
  color: #777;
}

.contact-section .contact-form .form-group .form-control::-moz-placeholder {
  color: #777;
}

.contact-section .contact-form .form-group .form-control:-ms-input-placeholder {
  color: #777;
}

.contact-section .contact-form .form-group .form-control::-ms-input-placeholder {
  color: #777;
}

.contact-section .contact-form .form-group .form-control,
.contact-section .contact-form .form-group .form-control::placeholder {
  color: #777;
}

.contact-section .contact-form .form-group .form-control:focus {
  box-shadow: none;
}

.contact-section .contact-form .form-group.form-message #contact-message {
  height: auto;
}

.contact-section .contact-form .form-submit #contact-submit {
  padding: 10px 26px;
}

.contact-section .contact-form .form-submit #contact-submit.wait {
  background-color: #777 !important;
  border-color: #777 !important;
}

.contact-section .contact-form .form-submit #contact-submit.success {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.contact-section .contact-form .form-submit #contact-submit.error {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.contact-section .contact-form .form-submit .contact-feedback {
  display: none;
  margin: 0;
  margin-top: 8px;
}

.contact-section .contact-form .form-submit .contact-feedback.success {
  color: #28a745;
}

.contact-section .contact-form .form-submit .contact-feedback.error {
  color: #dc3545;
}

.contact-section .contact-info {
  padding-left: 15px;
}

.contact-section .contact-info .info-description {
  font-size: 15px;
  margin-bottom: 28px;
}

.contact-section .contact-info .list-info>li:first-child .info-icon {
  margin-bottom: 13px;
}

.contact-section .contact-info .list-info>li:first-child .info-details {
  padding-top: 0;
}

.contact-section .contact-info .list-info>li:last-child .info-icon {
  margin-top: 13px;
}

.contact-section .contact-info .list-info>li:last-child .info-details {
  padding-bottom: 0;
}

.contact-section .contact-info .list-info .info-icon {
  font-size: 36px;
  margin-right: 50px;
  position: relative;
}

.contact-section .contact-info .list-info .info-icon i {
  -webkit-transform: translate(0, -50%);
  left: 0;
  line-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.contact-section .contact-info .list-info .info-details {
  border-left: 2px solid rgba(255, 255, 255, 0.15);
  padding: 12px 0 12px 22px;
}

.contact-section .contact-info .list-info .info-details .info-type {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
}

.contact-section .contact-info .list-info .info-details .info-value a {
  color: #9f9f9f !important;
}

.contact-section .contact-info .list-info .info-details .info-value a:hover,
.contact-section .contact-info .list-info .info-details .info-value a:focus {
  color: #797979 !important;
}

@media (max-width: 1199.98px) {
  .contact-section .contact-form .form-group {
    margin-bottom: 35px;
  }
}

@media (max-width: 991.98px) {
  .contact-section .contact-form {
    margin-bottom: 45px;
  }

  .contact-section .contact-info {
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .contact-section .contact-info .info-description {
    font-size: 14px;
  }
}